doctype 5
html(class="ng-app: signup;")
  head
    title Custom Affiliate Signup Page Generator
    // if ie
      script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
      script(type="text/javascript")
        document.createElement("edit-in-place");

    != css('foundation.min')
    != css('app')
    != js('app')

    script(type="text/javascript")
      if(!Modernizr.borderradius) {
        $('html').addClass('ie8');
      }

    body(ng-controller="editPanelController")
      block content


